<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type"text/css" href="styles.css">
    <title>Tasks</title>
  </head>
  <body>
    <div id="the-list">
      <h1>Welcome to Tasks</h1>
      <div v-for="task in tasks">
        <!-- Is Editing -->
        <div id="editing-list" v-if="task.isEditing">
          <input type="text" v-model="task.name" />
          <div class="btn-container">
            <button class="btn" v-on:click="() => editTask(task)">save</button>
            <button class="btn" v-on:click="() => deleteTask(task.id)">delete</button>
          </div>
        </div>

        <!-- Not Editing -->
        <div id="nonediting-list" v-else>
          <div class="btn-container">
            <input class="checkbox"
              v-on:change="() => editTask(task)"
              type="checkbox"
              v-model="task.completed"
            />
            {{ task.name }}
          </div>
          <div class="btn-container">
            <button class="btn" v-on:click="() => toggleIsEditing(task)">edit</button>
            <button class="btn" v-on:click="() => deleteTask(task.id)">delete</button>
          </div>
        </div>
      </div>
      <div>
        <input type="text" v-model="newTaskText" />
        <button class="btn" v-on:click="createNewTask">Add Task</button>
      </div>
    </div>
  </body>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</html>
