<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tasks</title>
  </head>
  <body>
    <h1>Welcome to Tasks</h1>

    <div id="the-list">
      <div v-for="task in tasks">
        <!-- Is Editing -->
        <div id="the-editing-list" v-if="task.isEditing">
          <input type="text" v-model="task.name" />
          <button v-on:click="() => editTask(task)">save</button>
          <button v-on:click="() => deleteTask(task.id)">delete</button>
        </div>

        <!-- Not Editing -->
        <div id="the-nonEdit-list" v-else>
          <input v-on:change="() => editTask(task)" type="checkbox" v-model="task.completed" /> {{ task.name }}
          <button v-on:click="() => toggleIsEditing(task)">edit</button>
          <button v-on:click="() => deleteTask(task.id)">delete</button>
        </div>
      </div>
      <div>
          <input type="text" v-model="newTasksText">
          <button v-on:click="createNewTask">Add Task</button>
      </div>
    </div>


  </body>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</html>
