<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tasks</title>
  </head>
  <body>
    <div id="app">{{ message }}</div>

    <div id="the-list">
      <div v-for="todo in todos">
        <!-- Is Editing -->
        <div id="the-editing-list" v-if="todo.isEditing">
          <input type="text" v-model="todo.name" />
          <button v-on:click="() => editTask(todo)">save</button>
          <button v-on:click="() => deleteTask(todo.id)">delete</button>
        </div>

        <!-- Not Editing -->
        <div id="the-nonEdit-list" v-else>
          <input type="checkbox" v-model="todo.completed" /> {{ todo.name }}
          <button v-on:click="() => toggleIsEditing(todo)">edit</button>
          <button v-on:click="() => deleteTask(todo.id)">delete</button>
        </div>
      </div>
    </div>

  </body>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</html>
